.display_test {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.display_test h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.display_test table {
  margin-top: 8px;
  border-collapse: collapse;
  border: 1px solid #eee;
}

.display_test td, .display_test th {
  border: 1px solid #eee;
  padding: 2px 6px;
}

.display_test .header-row th {
  vertical-align: bottom;
  text-align: center;
}

.display_test th a {
  color: rgb(32, 60, 150);
  text-decoration: none;
}

.display_test th {
  text-align: left;
}

.display_test th.hand {
  font-size: 20px;
}

.display_test th .commit {
  color: #999;
  font-size: 10px;
}

.display_test td.selected, .display_test th.selected {
  outline-offset: -2px;
  outline: -webkit-focus-ring-color auto 5px;
}

.display_test td {
  text-align: center;
}

.display_test td.processing {
  background-color: #ccc;
}

.display_test .version-header {
  width: 96px;
}

.display_test .details {
  font-size: 10px;
  color: #999;
}

.display_test input {
  font-size: 13px;
}

.display_test button {
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #333;
  cursor: pointer;
}

.display_test button[disabled] {
  border: 1px solid #999;
}

.display_test td.option-value {
  padding: 0;
}
