@charset "utf-8"

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')
$family-sans-serif: "Nunito", sans-serif

@import '../node_modules/bulma/bulma.sass'
@import '../node_modules/prismjs/themes/prism.css', '../node_modules/prism-themes/themes/prism-vs.css'

html, body, #app
  height: 100%

#app
  min-height: 100%

@media screen and (max-width: 768px)
  #menu-toggle:checked + .nav-menu
    display: block

.menu
  padding: 1em 0

main.container
  padding: 0 12px

.scrollable
  height: calc(100vh - 40px)
  overflow-y: auto

pre
  .content .tag, .content .number
    display: inline
    padding: inherit
    font-size: inherit
    line-height: inherit
    text-align: inherit
    vertical-align: inherit
    border-radius: inherit
    font-weight: inherit
    white-space: inherit
    background: inherit
    margin: inherit

article.content
  padding: 1em 0

.wrap
  flex-wrap: wrap

.tile-width
  min-width: 300px

// ul.links-list
//   li
//     display: inline-block
//     padding: 0 0.2em 0 0
//     &::after
//       color: $grey-light
//       content: ', '
//     &:nth-last-child(2)
//       &::after
//         content: ' and '
//     &:last-child
//       &::after
//         content: ''

ul.links-list
  margin: 0
  padding: 0
  column-count: 2
  li
    padding: 0
    a, span
      display: block
      max-width: 100%
      overflow: hidden
      text-overflow: ellipsis

.api-box
  margin: 0.6em 0

.sidebar-separator
  height: 1px
  background-color: #dddddd
  margin: 1rem 0

h3[id]
  scroll-margin: 20px

ul.module-toc-list
  columns: 200px 4
  list-style: none
  margin: 1em 0
  li
    margin-top: 0
  a
    display: block
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    padding-right: 0.25em
